<div class="row">
  <div class="col s6">
    <%= render partial: "analysis_form", locals: {analysis: @analysis} %>
  </div>
  <div class="col s6">
    <%= render partial: "analyses", locals: {analyses: @analyses} %>
  </div>
</div>
